App_WebReferences/ActServiceReference/WebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="getDate">
        <s:complexType />
      </s:element>
      <s:element name="getDateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="getDateResult" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getDate2">
        <s:complexType />
      </s:element>
      <s:element name="getDate2Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getDate2Result" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="suggestedProgramToMember">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="programs" type="tns:ArrayOfPrograms" />
            <s:element minOccurs="0" maxOccurs="1" name="preferences" type="tns:Preferences" />
            <s:element minOccurs="1" maxOccurs="1" name="memberTrainingYears" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfPrograms">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Programs" nillable="true" type="tns:Programs" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Programs">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="FldProgramId" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="FldProgramDuration" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="FldProgramType" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="FldProgramLevel" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="FldProgram" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FldTrainerId" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Preferences">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ProgramDuration" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ProgramType" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MemberId" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="suggestedProgramToMemberResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="suggestedProgramToMemberResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="getDateSoapIn">
    <wsdl:part name="parameters" element="tns:getDate" />
  </wsdl:message>
  <wsdl:message name="getDateSoapOut">
    <wsdl:part name="parameters" element="tns:getDateResponse" />
  </wsdl:message>
  <wsdl:message name="getDate2SoapIn">
    <wsdl:part name="parameters" element="tns:getDate2" />
  </wsdl:message>
  <wsdl:message name="getDate2SoapOut">
    <wsdl:part name="parameters" element="tns:getDate2Response" />
  </wsdl:message>
  <wsdl:message name="suggestedProgramToMemberSoapIn">
    <wsdl:part name="parameters" element="tns:suggestedProgramToMember" />
  </wsdl:message>
  <wsdl:message name="suggestedProgramToMemberSoapOut">
    <wsdl:part name="parameters" element="tns:suggestedProgramToMemberResponse" />
  </wsdl:message>
  <wsdl:portType name="WebServiceSoap">
    <wsdl:operation name="getDate">
      <wsdl:input message="tns:getDateSoapIn" />
      <wsdl:output message="tns:getDateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getDate2">
      <wsdl:input message="tns:getDate2SoapIn" />
      <wsdl:output message="tns:getDate2SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="suggestedProgramToMember">
      <wsdl:input message="tns:suggestedProgramToMemberSoapIn" />
      <wsdl:output message="tns:suggestedProgramToMemberSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebServiceSoap" type="tns:WebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getDate">
      <soap:operation soapAction="http://tempuri.org/getDate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDate2">
      <soap:operation soapAction="http://tempuri.org/getDate2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="suggestedProgramToMember">
      <soap:operation soapAction="http://tempuri.org/suggestedProgramToMember" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceSoap12" type="tns:WebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getDate">
      <soap12:operation soapAction="http://tempuri.org/getDate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDate2">
      <soap12:operation soapAction="http://tempuri.org/getDate2" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="suggestedProgramToMember">
      <soap12:operation soapAction="http://tempuri.org/suggestedProgramToMember" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService">
    <wsdl:port name="WebServiceSoap" binding="tns:WebServiceSoap">
      <soap:address location="http://localhost:50927/myWebServices/WebService.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceSoap12" binding="tns:WebServiceSoap12">
      <soap12:address location="http://localhost:50927/myWebServices/WebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>